
@{
    ViewBag.Title = "EventsPage2";
}
<head>
    <style>
        p{
            color:black;
        }
    </style>
</head>
<h1 style="font-family:'Monetz',cursive; text-align:center; color:rgba(252, 61, 106, 0.75)">Event</h1>
<div class="jumbotron" style="margin-left:5%; margin-right:5%; border:groove; background-color:lavender">
    <p><button style="align-self:flex-end" class="btn btn-secondary my-2 my-sm-0" type="submit">Going</button></p>
    <h1>Skardu Trip</h1>
    <p>8 days tour to Gilgit BaltistanPlaces that we will be visiting Khaplu, Skardu, Mansehra ,Shangrila Lake, Kachrua Lake, Buddha Rock, Shigar(Desert & Fort), Manthoka(Water Fall) , Sadpara Lake ,Hunza | Karimabad | Baltit Fort | Altit Fort | Attabad Lake | Gulmit | Passu |</p>
</div>


