
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-family:'Monetz',cursive; text-align:center; color:rgba(252, 61, 106, 0.75)">News Feed</h1>
<br />
<div class="jumbotron" style="align-self:center; background:#f6f0f0; padding:1%;margin-left:15%;margin-right:15%; border:dotted">
    <h5 style="color:rgba(252, 61, 106, 0.75); font-family:cursive">Upload File</h5>
    <input class="form-control mr-sm-2" type="file" value="Choose File">
    <h6 style="align-self:center;color:rgba(252, 61, 106, 0.75); font-family:cursive">OR</h6>
    <input class="form-control mr-sm-2" type="text" value="Status Message" />
    <br />
    <button style="text-align:right" class="btn btn-secondary my-2 my-sm-0" type="submit">Upload</button>
</div>
<h5>User1 </h5>
<p>Hey everyone! i recently visited this place and i'd highly recomment it.</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_hfhixibIFckOGes09ZYfRmIo-ahiZ9DaCVZuB9C_4Sa7cuwj" />
<br />
<br />
<h5>User2</h5>
<p>Hey everyone! i recently visited this place and i'd highly recomment it Must Visit.</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkzivQFx4YSRL84qr4yznIoMJGN0STUgf0dOevUvAK8kL40Z21" />