
@{
    ViewBag.Title = "MessagePage";
}

<div class="container" style="padding-top:7%; align-self:center; background:transparent">
    @* Spacing top *@
</div>
<h1 style="font-family:'Monetz',cursive; text-align:center; color:rgba(252, 61, 106, 0.75)">Messages</h1>
<div class="jumbotron" style="margin-left:5%; margin-right:5%; border:groove; background:white">
    <h1>message page will be created after model classes are defined</h1>
</div>

