
@{
    ViewBag.Title = "ProfilePage";
}

<!DOCTYPE html>
<html lang="zxx">
<body>
    <div class="jumbotron" style="background-color:lavender">
        <div class="left" style="margin-right:70%; padding-top:1%;padding-bottom:1%">
            <img src="~/Context/images/usericon.png" />
        </div>               
        <div class="right" style="margin-left:30%; padding-bottom:1%; padding-top:1%">
         <h2>User Name</h2>
        </div>
    </div>
</body>
</html>